<div class="container align-items-center">
  <div class="row align-items-center">
    <div class="col-6 card box px-2 div-1">
      <div class="card-body text-center">
        <h2 class="my-4" style="text-align:center" ><strong>IONIC</strong></h2>
        <img src="../assets/rockola.png" width="180" height="250">
        <p class="my-4">El sitio para almacenar la información de su colección de música. En este podrá buscar de manera más facil las canciones que tiene en su fonoteca y que quiere escuchar ...</p>
      </div>
    </div>

    <div class="col-6 box div-2" >
      <div class="row align-items-center">
        <div class="my-3 row">
          <h1 class="text-center">Registro</h1>
        </div>

        <form [formGroup]="usuarioForm" (ngSubmit)="registrarUsuario()">

          <div class="form-group">
            <div class="my-3 row">
              <div class="col-lg-6 center-block">
                <input formControlName="nombre" type="text" class="form-control" placeholder="Usuario">
              </div>
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched">
              Debe ingresar un usuario para registrarse
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('nombre')?.hasError('maxlength')">
              El usuario no debe exceder los 50 carácteres
            </div>

          </div>

          <div class="form-group">
            <div class="mb-3 row">
              <div class="col-lg-6 center-block">
                <input formControlName="password" type="password" class="form-control" placeholder="Contraseña">
              </div>
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched">
              Debe ingresar una contraseña para registrarse
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('password')?.hasError('maxlength')">
              La contraseña no debe exceder los 50 carácteres
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('password')?.hasError('minlength')">
              La contraseña debe tener más de 4 carácteres
            </div>
          </div>

          <div class="form-group">
            <div class="mb-3 row">
              <div class="col-lg-6 center-block">
                <input formControlName="confirmPassword"  type="password" class="form-control" placeholder="Confirmar Contraseña">
              </div>
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('confirmPassword')?.hasError('required') && usuarioForm.get('confirmPassword')?.touched">
              Debe ingresar una contraseña para registrarse
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('confirmPassword')?.hasError('maxlength')">
              La contraseña no debe exceder los 50 carácteres
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('confirmPassword')?.hasError('minlength')">
              La contraseña debe tener más de 4 carácteres
            </div>
            <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('confirmPassword')?.value !== usuarioForm.get('password')?.value">
              Las contraseñas no coinciden
            </div>
          </div>

          <div class="col-12 text-center mt-3">
            <button  type="submit" class="btn btn-primary col-8 div-3" [disabled]="!usuarioForm.valid || usuarioForm.get('confirmPassword')?.value !== usuarioForm.get('password')?.value">Registrarse</button>
          </div>
          <div class="col-12 text-center mt-2">
            <p style="text-align: center">¿Ya tienes cuenta? <a href="/">Inicia sesión</a></p>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
