<div>
  <app-header></app-header>
  <div class="container " id="album" style="background-color: grey;">
    <h1>AcercaDE</h1>
  </div>
    <div class="container px-4">
      <div class="row gx-5 ">
        <div class="col">
          <div class="p-5 about-frame"><h1>Acerca del proyecto IONIC</h1>
            <p class="p-3">Este sitio para almacenar la información de su colección personal de
              música fue creado dentro de la asignatura de Procesos de Desarrollo Ágil dentro de la
              Maestría en Ingeniería de Software MISO de la Universidad de lo Andes. En este sitio
              usted podrá buscar de manera más facil las canciones que tiene en su fonoteca y que
              quiere escuchar, de igual forma podrá compartir sus albumes con otros usuarios del sitio.</p>
          </div>
        </div>
        <div class="col">
          <div class="p-5  about-frame">
            <table class="table about-frame table-borderless">
              <tr>
                <th colspan="2" class="text-center"><h1>Integrantes</h1></th>
              </tr>
              <tr>
                <td><img class="img-menu" src="/assets/developer.svg" alt="Desarrollador"/></td>
                <td><p>Anderson Luis Cáceres Padilla</p></td>
              </tr>
              <tr>
                <td><img class="img-menu" src="/assets/developer.svg" alt="Desarrollador"/></td>
                <td><p>Miguel Niño</p></td>
              </tr>
              <tr>
                <td><img class="img-menu" src="/assets/developer.svg" alt="Desarrollador"/></td>
                <td><p>Luis Alfredo León Britto</p></td>
              </tr>
              <tr>
                <td><img class="img-menu" src="/assets/developer.svg" alt="Desarrollador"/></td>
                <td><p>Félix Edilson Acero Joya</p></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
