.div-1 {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--rnr-naranja);
}
.div-2 {
  margin-top: 20px;
  padding: 20px;
  background-color: none;
}
.div-3 {
  background-color: var(--rnr-naranja);
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#titulo {
  font-size: 35px !important;
  color: white !important;
  border-bottom: double white !important;
}

p {
  color: white !important;
}
.img-rockola {
  border-bottom: double var(--rnr-cafe) !important;
}
