.navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
.titulo-tabla {
  width: auto !important;
}
.contenido-tabla {
  background-color: white ;
}
p{
  margin-left: .2em !important;

}
