/* You can add global styles to this file, and also import other style files */
:root {
  --rnr-cafe: #5b3b2b;
  --rnr-beige: #f4eccb;
  --rnr-azul: #74ccac;
  --rnr-mostaza: #ebbb20;
  /* --rnr-naranja: #d34c1c; */
  --rnr-naranja: #e5771e;
  /*
    #f4eccb beige
    #74ccac azul
    #5b3b2b cafe
    #ebbb20 mostaza
    #d34c1c naranja
    */
}
html body {
  background-color: white !important;
}
.container {
  width: 90% !important;
  height: auto !important;
  margin: auto !important;
  max-width: none !important;
}

.ionic-card {
  width: auto !important;
  height: auto !important;
  background-color: var(--rnr-beige) !important;
  border: 1px solid var(--rnr-cafe) !important;
  margin: 0.2em !important;
}

.ionic-card-header {
  background-color: var(--rnr-azul) !important;
}
.ionic-card-body {
  background-color: var(--rnr-beige) !important;
  overflow-x: auto;
}
.ionic-tr {
  width: 100% !important;
  height: auto !important;
  display: flex !important;
  margin-bottom: 1em !important;
}
.ionic-td {
  width: 100% !important;
  height: auto !important;
  background-color: var(--rnr-azul) !important;
  margin-bottom: 0em !important;
}

.ionic-tr:hover {
  background: var(--rnr-mostaza) !important;
}

.ionic-ul {
  width: 100% !important;
  height: auto !important;
  display: flex !important;
  margin-bottom: 1em !important;
}
.ionic-li {
  width: 100% !important;
  height: auto !important;
  display: flex !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.ionic-li:hover {
  background: var(--rnr-mostaza) !important;
}
.ionic-item {
  background-color: var(--rnr-azul) !important;
}

/* .ionic-td:hover {
  background: var(--rnr-mostaza)!important

} */
.img-rockola {
  width: 15em;
  height: auto;
  border-bottom: double var(--rnr-naranja) !important;
  padding: 1em;
}

h1 {
  text-align: center !important;
  font-size: 30px !important;
  align-self: center !important;
  font-family: titulo1 !important;
  color: var(--rnr-naranja) !important;
  border-bottom: double var(--rnr-naranja) !important;
  text-transform: uppercase !important;
}
.titulo {
  color: white !important;
}
h2 {
  font-size: 22px !important;
  align-self: center !important;
  font-family: titulo2 !important;
  color: var(--rnr-cafe) !important;
  text-align: justify !important;
  margin: 0px !important;
  margin-left: 0.5em !important;
}
h3 {
  font-size: 20px !important;
  align-self: center !important;
  margin-left: 1em !important;
  font-family: titulo3 !important;
  color: var(--rnr-cafe) !important;
  text-align: justify !important;
}
p {
  font-size: 20px !important;
  align-self: center !important;
  font-family: texto !important;
  color: var(--rnr-cafe) !important;
  margin: 0px !important;
  margin-left: 1.5em !important;
  text-align: justify !important;
}
a {
  font-size: 20px !important;
  align-self: center !important;
  font-family: texto !important;
  color: var(--rnr-cafe) !important;
  margin: 0px !important;
  margin-left: 1.5em !important;
  text-align: justify !important;
}

input {
  font-size: 20px !important;
  font-family: texto !important;
  border: 1px solid var(--rnr-cafe) !important;
  color: var(--rnr-cafe) !important;
}
select {
  font-size: 20px !important;
  font-family: texto !important;
  border: 1px solid var(--rnr-cafe) !important;
  color: var(--rnr-cafe) !important;
}
textarea {
  font-size: 20px !important;
  font-family: texto !important;
  border: 1px solid var(--rnr-cafe) !important;
  color: var(--rnr-cafe) !important;
}

/*
* menu
*/

.img-navbar {
  width: 2em;
  height: auto;
  border-bottom: double var(--rnr-naranja) !important;
}
.img-menu {
  margin: auto;
  margin-right: 1em;
  height: 2em;
  width: auto;
}
.wrapper {
  background-color: none;
  display: flex;
  width: auto;
  align-items: stretch;
  position: absolute;
  z-index: 999;
}
#sidebar {
  min-width: 15em;
  max-width: 15em;
  background: var(--rnr-azul);
  border: 1px solid var(--rnr-cafe) !important;
  border-radius: 0em 0em 1em 0em !important;

  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -15em;
}

#sidebar .sidebar-header {
  padding: 1em;
  background: var(--rnr-azul);
}

/* #sidebar ul.components {
  border-bottom: 1px solid #47748b;
} */
#sidebar ul li a {
  display: block;
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.btn-info {
  background-color: var(--rnr-azul) !important;
  border-radius: 0em 1em 1em 0em !important;
  border: 1px solid var(--rnr-cafe) !important;
}
#sidebar ul li a:hover {
  color: #fff;
  background: var(--rnr-mostaza);
}
.line {
  border-bottom: double var(--rnr-cafe) !important;
}

#header {
  width: auto;
  height: 2em;
  margin: auto;
  padding-top: 0.5em;
  border-bottom: double var(--rnr-cafe) !important;
}
.iconos {
  width: 3em;
  height: auto;
  margin: 0.5em;
}
.iconos:hover {
  background-color: var(--rnr-mostaza) !important;
  border-radius: 1em 1em 1em 1em !important;
}

/*
Botones
*/
.btn-danger {
  background-color: var(--rnr-mostaza) !important;
  border-radius: 0.5em 0.5em 0.5em 0.5em !important;
  border: 1px solid var(--rnr-cafe) !important;
  font-size: 20px !important;
  align-self: center !important;
  font-family: texto !important;
  color: var(--rnr-cafe) !important;
}
.btn-primary {
  background-color: var(--rnr-azul) !important;
  border-radius: 0.5em 0.5em 0.5em 0.5em !important;
  border: 1px solid var(--rnr-cafe) !important;
  font-size: 20px !important;
  align-self: center !important;
  font-family: texto !important;
  color: var(--rnr-cafe) !important;
}

/*
  Alertas
*/
.alert-danger {
  /* background-color: var(--rnr-naranja) !important; */
  border-radius: 0.5em 0.5em 0.5em 0.5em !important;
  border: 1px solid var(--rnr-cafe) !important;
  font-size: 20px !important;
  align-self: center !important;
  font-family: texto !important;
  color: white !important;
  background-image: radial-gradient(
    circle at 50% 50%,
    var(--rnr-mostaza) 0,
    var(--rnr-naranja) 100%
  );
}

@media (max-width: 768px) {
  .texto-menu {
    display: none;
  }

  #sidebar {
    min-width: 10em;
    max-width: 10em;
  }
  .img-navbar {
    width: 1em;
  }
  #sidebar.active {
    margin-left: -10em;
  }
  .img-menu {
    margin: auto !important;
  }
  .ionic-tr {
    display: block !important;
  }
  .ionic-card {
    margin: 0.5em !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 16px !important;
  }
  a {
    font-size: 16px !important;
  }
}

@font-face {
  font-family: texto;
  src: url("./fonts/Orelega_One/OrelegaOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: titulo1;
  src: url("./fonts/Limelight/Limelight-Regular.ttf") format("truetype");
}
@font-face {
  font-family: titulo2;
  src: url("./fonts/Train_One/TrainOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: titulo3;
  src: url("./fonts/Bungee_Shade/BungeeShade-Regular.ttf") format("truetype");
}
.footer {
  bottom: 0px;
  width: 100%;
  height: 10px;
  background-color: var(--rnr-azul) !important;
}
.about-frame {
 background-color: #EBBB20  ;
}
