<app-header></app-header>
<div class="container" id="album" style="background-color: none;">
  <div class="row align-items-center">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-lg-4">
      <div class="card ionic-card">
        <div class="card-header ionic-card-header">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <label class="fs-4 fw-bold">
                <h1> Álbumes </h1>
              </label>
              <img class="iconos" (click)="irCrearAlbum()" src="/assets/create.png" alt="crear" />
            </div>
          </div>
        </div>
        <div class="card-body ionic-card-body">
          <div class="input-group my-2">
            <input #busqueda type="search" class="form-control" placeholder="Buscar álbumes" aria-label="Search" (keyup)="buscarAlbum(busqueda.value)">
          </div>
          <table class="table table-hover mb-0" aria-describedby="colecName">
            <tbody>
              <tr class="ionic-tr" *ngFor="let album of mostrarAlbumes; index as i" (click)="onSelect(album, i,false)"
                [ngClass]="{'selected': i === indiceSeleccionado}">
                <td class="ionic-td">
                  <p>{{album.titulo}}</p>
                </td>
                <td class="ionic-td">
                  <p> {{album.anio}}</p>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="card ionic-card">
        <div class="card-header ionic-card-header">
          <div class="row">
            <div class="col-10 col-sm text-center">
              <label class="fs-4">
                <h1> Álbumes Compartidos</h1>
              </label>
            </div>
          </div>
        </div>
        <div class="card-body ionic-card-body">
          <table class="table table-hover mb-0" aria-describedby="colecName">
            <tbody>
              <tr class="ionic-tr" *ngFor="let album of mostrarAlbumesCompartidos; index as i" (click)="onSelect(album, i,true)"
                [ngClass]="{'selected': i === indiceSeleccionado}">
                <td class="ionic-td">
                  <p>{{album.titulo}}</p>
                </td>
                <td class="ionic-td">
                  <p> {{album.anio}}</p>
                </td>
                <td class="ionic-td">
                  <p> ({{album.nombre_dueno}})</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-lg-8">
      <app-album-detail (deleteAlbum)="eliminarAlbum()" [album]="albumSeleccionado" [comentarios]= "comentarios"></app-album-detail>
    </div>
  </div>
</div>
