<div class="ionic-card-header" >
  <h1 id="header">Ionic</h1>

</div>

<div class="wrapper">
  <nav id="sidebar" class="active">
    <div class="sidebar-header">
      <h1>Menu</h1>
    </div>
    <ul class="list-unstyled components">
      <li class="nav-item ionic-li" (click)="goTo('home')">
        <p class="texto-menu">Home</p>
        <img class="img-menu" src="/assets/home.svg" alt="Home" />
              </li>
      <li class="nav-item ionic-li" (click)="goTo('album')">
        <p class="texto-menu">Álbumes</p>
        <img class="img-menu" src="/assets/album.svg" alt="Álbumes" />
      </li>
      <li class="nav-item ionic-li" (click)="goTo('cancion')">
        <p class="texto-menu">Canciones</p>
        <img class="img-menu" src="/assets/cancion.svg" alt="Canciones" />
      </li>
      <li class="nav-item ionic-li" (click)="goTo('about')">
        <p class="texto-menu">Acerca de</p>
        <img class="img-menu" src="/assets/about.svg" alt="Acerca de" />
      </li>
      <div class="line"></div>
      <li class="nav-item ionic-li" (click)="goTo('logIn')">
        <p class="texto-menu">Salir</p>
        <img class="img-menu" src="/assets/salir.svg" alt="Salir" />
      </li>
    </ul>
  </nav>
  <div class="content">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <img class="img-navbar" src="/assets/rockola.png" alt="rockola" />
    </button>
  </div>
</div>
