<app-header></app-header>
<div class="container my-4">

<div class="row justify-content-md-center" id="home">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lg-6" style="text-align: center">
    <!-- <div style="width: 10em;"> -->
    <img class="img-rockola" src="/assets/rockola.png" alt="rockola" />
    <!-- </div> -->
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lg-6" style="padding-top:2em">
    <h1>IONIC</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque consectetur sagittis. Integer nibh
      tellus, iaculis quis pellentesque quis, venenatis eu tortor. Nam non est suscipit, vestibulum mauris sodales,
      ullamcorper arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean dictum nibh eget velit
      hendrerit mollis at eget libero. Duis non pellentesque purus. Vestibulum ultricies libero at justo dictum, in
      venenatis tellus placerat. Suspendisse fermentum semper leo in egestas. Nunc laoreet dictum risus, eu efficitur
      magna interdum id. Praesent metus massa, rhoncus id mauris ut, lacinia maximus eros.</p>
  </div>
</div>
</div>
